@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#1C1A1E] text-white p-2 !important;
}
.marker {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px dashed dodgerblue;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
}
