@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

body {
  @apply bg-gray-900 text-white p-2;
}

.marker {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px dashed dodgerblue;
  background-color: rgba(0, 0, 0, 1);
  transform: translate(-50%, -50%);
}

button {
  @apply font-bold shadow-lg px-[2rem] py-[1rem]  rounded-xl m-4 text-xl font-sans hover:scale-95 transition-all ease-in-out duration-200;
}

.text-shadow {
  text-shadow: black 1px 0 10px;
}
